ul {
font-size:16px;
color: black;
font-family: monospace;
position: absolute;
top: 380px;
}
ul li:nth-of-type(1) {
    color: red;
}
ul li:nth-of-type(2) {
    color: blue;
}
ul li:nth-of-type(3) {
    color: green;
}
ul li:nth-of-type(4) {
    color: purple;
}
ul li:nth-of-type(5) {
    color: black;
}
ul li:nth-of-type(6) {
    color: gray;
}
h4 {
    position: absolute;
    top: 340px;
    text-align: left;
}
p {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 230px;
    top: 110px;
    width: 230px;
    }

body {
    background-image: linear-gradient(to bottom, #ffffff, #edefff, #d3e0ff, #b1d4ff, #83c9ff);
    font-family:monospace;
    font-style: italic;
}
.fotoprincipal {
    position: absolute;
    border-radius: 50px;
    left: 10px;
    width: 200px;
    top: 90px;
    padding: 3px;
    background-color: black;
}

.botaoprincipal {
    text-decoration: none;
    text-align:center;
    color:black;
    padding: 10px;
}

h1 {
    font-size: 65px;
    color: black;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

body {
background-color: lightblue;
font-size: 16px;
}


